page-home {
    ion-thumbnail{
        width: 130px;
        height: 180px;
    }
    .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
        width: 130px;
        height: 180px;
        
    }

    .item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img {
        width: 130px;
        height: 180px;
    }

    .con{
        background: transparent;
        position: relative;
        white-space: pre-line;
    }

    #name{
        font-size: 0.8em;
        font-weight: bold;

    }

    #price{
        font-size: 0.7em;
        margin-top: -5%
    }

    #description{
        font-size: 0.7em;
        margin-top: -5%
    }

    ion-item.item.item-block.item-md{
      margin-top: -10%;
      background: transparent
    }
    
    .header{
        background-color: #970747;
        height: 20%;
    }
    
    h1{
        color: white;
        font-size: 2.5em;
        margin-top: -5%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700
    }

    p{
        color: white;
        margin-left: 15%;
        margin-top: -5%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }

    .body{
        background-color: #ebd5d5
    }
    .item{
        border-radius: 10px;
        background: linear-gradient(#d1adbd44,rgba(104, 96, 96, 0.096));

    }

   
 


}
